CONFIG_RISCV=y
CONFIG_SYS_TEXT_BASE=0x81F00000
CONFIG_SYS_MALLOC_F_LEN=0x8000
CONFIG_NR_DRAM_BANKS=1
CONFIG_DEBUG_UART_BASE=0x10010000
CONFIG_DEBUG_UART_CLOCK=100000000
CONFIG_DEFAULT_DEVICE_TREE="saxon_bsp"
CONFIG_DEBUG_UART=y
CONFIG_TARGET_VEXRISCV_SAXON=y
CONFIG_RISCV_SMODE=y
# CONFIG_RISCV_ISA_C is not set
CONFIG_SBI_V02=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_BOOTCOMMAND="bootm 0x80000000 0x81FFFFC0 0x81FF0000"
CONFIG_CMD_MMC=y
CONFIG_CMD_SPI=y
CONFIG_CMD_TIMER=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_OF_EMBED=y
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_DEVICE_AND_PART="0:1"
CONFIG_ENV_FAT_FILE="/uboot.env"
CONFIG_MMC=y
CONFIG_MMC_BROKEN_CD=y
CONFIG_MMC_SPI=y
CONFIG_VEXRISCV_SERIAL=y
CONFIG_SPI=y
CONFIG_VEXRISCV_SPI=y
